{% extends 'base.html.twig' %}

{% block title %}Ajouter un DAO{% endblock %}

{% block body %}
    <br>  
              <center class="titre">Ajouter un DAO</center>
<br> 
   <div class="container">
  
            <a href="{{ path('dao_index') }}" class="btn btn-info">Liste des DAO</a>
<br> <br> 
    {{ include('dao/_form.html.twig') }}
</div>
<footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('menu') }}">Menu APS, APD, DAO</a></span>
    </footer>
{% endblock %}
