<form method="post" action="{{ path('telechargement_delete', {'id': telechargement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ telechargement.id) }}">
    <button class="btn">Delete</button>
</form>
