{% extends 'base.html.twig' %}

{% block title %}Ajouter une fiche{% endblock %}

{% block body %}
   
<br>  
<center class="titre">Ajouter une fiche</center>
<br> 
<div class="container">

<a href="{{ path('telechargement_index') }}" class="btn btn-info">Liste des fiches</a>
<br> <br> 
{{ include('telechargement/_form.html.twig') }}
</div>

{% endblock %}
