{% extends 'base.html.twig' %}

{% block title %}Ajouter un APS{% endblock %}

{% block body %}
   <br>  
              <center class="titre">Ajouter un APS</center>
<br> 
   <div class="container">
  
            <a href="{{ path('aps_index') }}" class="btn btn-info">Liste des APS</a>
<br> <br> 
    {{ include('aps/_form.html.twig') }}
</div>
<footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('menu') }}">Menu APS, APD, DAO</a></span>
    </footer>
{% endblock %}
