<form method="post" action="{{ path('rtrimestriel_delete', {'id': rtrimestriel.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rtrimestriel.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
