{% extends 'base.html.twig' %}

{% block title %}Ajouter un rapport{% endblock %}

{% block body %}
    <br>  
              <center class="titre">Ajouter un rapport</center>
<br> 
   <div class="container">
  
            <a href="{{ path('rmensuel_index') }}" class="btn btn-info">Liste des rapports mensuels</a>
<br> <br> 
    {{ include('rmensuel/_form.html.twig') }}
</div>
{% endblock %}
