{% extends 'base.html.twig' %}

{% block title %}Modifier un APD{% endblock %}

{% block body %}
     <br>
          <center class="titre">Modifier l'APD</center>
    <br> 
     <div class="container">
        <a href="{{ path('apd_index') }}"class="btn btn-info">Liste des APD</a>

    {{ include('apd/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

 <br>  <br> 

    {{ include('apd/_delete_form.html.twig') }}
    <footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('menu') }}">Menu APS, APD, DAO</a></span>
    </footer></div>
{% endblock %}
