{% extends 'base.html.twig' %}

{% block title %}Modifier un suivi{% endblock %}

{% block body %}
<br>
<center class="titre">Modifier un suivi</center>
<br> 
<div class="container">
<a href="{{ path('suivi_index') }}" class="btn btn-info">Liste des suivi</a>
<br>  <br> 
{{ include('suivi/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


{{ include('suivi/_delete_form.html.twig') }}
</div>
<footer>
<span class="badge badge-pill badge-dark"><a href="{{ path('etude') }}">Suivi et Contrôle</a></span>
</footer>
{% endblock %}
