{% extends 'base.html.twig' %}

{% block title %}Enregistrer un suivi{% endblock %}

{% block body %}
  <br>  
              <center class="titre">Enregistrer un suivi</center>
<br> 
   <div class="container">
  
            <a href="{{ path('suivi_index') }}" class="btn btn-info">Liste des Suivi</a>
<br> <br> 
    {{ include('suivi/_form.html.twig') }}
</div>
{% endblock %}
