{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau utilisateur{% endblock %}

{% block body %}

  <div class="container">
</br>
    <center class="titre">Ajouter un utilisateur</center>
    </br>
        {{ include('user/_form.html.twig') }}

        <br><a href="{{ path('user_index') }}" class="btn btn-info" >Listes des utilisteurs</a>
    </div>
{% endblock %}
